{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
<div class="moments-preload"></div>

<div id="intro" class="screen screen--intro">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
        <h1>The Uber Game</h1>
        <p class="subtitle">Can you beat the odds as an Uber driver?</p>
        <button type="button" id="caveats-button">Let's ride</button>
      </div>
    </div>
  </div>
  <footer class="o-typography-wrapper o-typography-footer" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <small><a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a>
           <span itemprop="name">The Financial Times</span> Limited {{ now() | strftime('%Y') }}. All rights reserved.</small>
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="caveats" class="screen screen--caveats">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
        <p>For the best experience, please open this game in the latest version of either Safari, Chrome or Firefox.</p>
        <p>Other browsers or versions may not be fully supported.</p>
        <div>
          <button type="button" id="start-button">Got it</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="story" class="screen screen--story" data-anime-opacity="true">
  <div class="time-passing-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <div class="time-passing-upper">
            <p id="time-passing-text">You drive for <span id="time-passing-text__hours">4</span> hours</p>
            <div class="time-passing-image"></div>
            <div id="tp-earnings-container">
              <div id="tp-earnings">56</div> MONEY EARNED
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="time-passing-dashboard">
      <div class="o-grid-container">
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
            <div class="stats-container">
              <div class="stats-container__time">
                <span id="tp-time">1</span>
                TIME
              </div>
              <div class="stats-container__rides">
                <span id="tp-rides">12</span>
                RIDES
              </div>
              <div class="stats-container__ride-goal">
                <span id="tp-ride-goal">24</span>/<span id="tp-ride-goal-total">65</span>
                RIDE GOAL
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moment-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <div class="moment-upper">
            <p id="moment-text"></p>
            <div class="moment-image"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="moment-dashboard">
      <div class="o-grid-container">
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
            <div class="stats-container"></div>
            <button type="button" id="moment-button">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meters-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="6 S9 M11 Mcenter L7 XL6">
          <div class="meter meter--total">
            <span id="earnings"></span>
          </div>
          <div class="meter meter--time">
            <span id="time"></span>
          </div>
          <div class="meter meter--rating">
            <span id="rating"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="knot-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <div class="knot"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="landscape" class="screen screen--landscape">
  <i class="material-icons">screen_rotation</i>
  <p>
    Please rotate your device to portrait orientation
  </p>
</div>
{% endmarkdown %}
{% endblock %}
