{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
<div class="moments-preload"></div>

<div id="intro" class="screen screen--intro">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
        <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8493047700-20jgj.png?source=ig&width=700&format=png&quality=high" alt="The Uber Game">
        <p class="subtitle">Can you make it in the gig economy?</p>
        <button type="button" id="caveats-button">Let's ride</button>
      </div>
    </div>
  </div>
  <footer class="o-typography-wrapper o-typography-footer" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
          <div class="toggle-fullscreen">
            <form action="" data-o-component="o-forms">
              <fieldset class="o-forms">
                <div class="inverse-demo">
                  <div class="o-forms__checkbox-toggle o-forms__checkbox-toggle--inverse">
                    <input class="o-forms__checkbox-toggle__checkbox" data-o-form-toggle="" type="checkbox" name="checkbox" value="1" id="fullscreen" />
                    <label for="fullscreen" class="o-forms__label">Enter fullscreen mode</label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <small><a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a>
           <span itemprop="name">The Financial Times</span> Limited {{ now() | strftime('%Y') }}. All rights reserved.</small>
           <small><a href="http://help.ft.com/help/legal-privacy/terms-conditions/">Terms & Conditions</a></small>
        </div>
      </div>
    </div>
  </footer>
</div>

<div id="caveats" class="screen screen--caveats">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
        <p>This news game is based on real reporting, including interviews with dozens of Uber drivers.</p>
        <p>For the best experience, please view this game in the latest version of <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>, <a href="https://www.apple.com/uk/safari/" target="_blank">Safari</a> or <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a> on desktop, or on the latest version of iOS or Android on mobile devices. Other browsers or versions may not be fully supported.</p>
        <div>
          <button type="button" id="start-button">Got it</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="story" class="screen screen--story">
  <div class="time-passing-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <div class="time-passing-upper">
            <p id="time-passing-text">You drive for <span id="time-passing-text__hours">4</span></p>
            <div class="time-passing-image"></div>
            <div class="tp-earnings-container">
              <div id="tp-earnings">56</div>
              <p>FARES EARNED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="time-passing-dashboard">
      <div class="o-grid-container">
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
            <div class="stats-container">
              <div class="stats-container__time">
                <i class="material-icons">access_time</i>
                <span id="tp-time" class="large">1</span>
                <p>DAY <span id="tp-day" class="small"></span> OF 7</p>
              </div>
              <div class="stats-container__rides">
                <i class="material-icons">directions_car</i>
                <span id="tp-rides" class="large">12</span>
                <p>RIDES</p>
              </div>
              <div class="stats-container__ride-goal">
                <i class="material-icons">directions_car</i>
                <span id="tp-ride-goal" class="large">24</span>
                <span class="large">/</span>
                <span id="tp-ride-goal-total" class="large">65</span>
                <p>QUEST PROGRESS</p>
              </div>
            </div>
            <button type="button" id="tp-button">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="moment-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter L7 XL6">
          <div class="moment-upper">
            <p id="moment-text"></p>
            <div class="moment-image"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="moment-dashboard">
      <div class="o-grid-container">
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
            <div class="stats-container">
              <div class="stats-container__time">
                <i class="material-icons">access_time</i>
                <span id="moment-time" class="large">—</span>
                <p>DAY <span id="moment-day" class="small"></span> OF 7</p>
              </div>
              <div class="stats-container__rides">
                <i class="material-icons">directions_car</i>
                <span id="moment-rides" class="large">—</span>
                <p>RIDES</p>
              </div>
              <div class="stats-container__ride-goal">
                <i class="material-icons">directions_car</i>
                <span id="moment-ride-goal" class="large">—</span>
                <span class="large">/</span>
                <span id="moment-ride-goal-total" class="large">—</span>
                <p>QUEST PROGRESS</p>
              </div>
            </div>
            <button type="button" id="moment-button">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meters-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="7 S9 M11 Mcenter">
          <div class="meter meter--total">
            <span id="earnings"></span>
          </div>
          <div class="meter meter--time">
            <span id="time"></span>
          </div>
          <div class="meter meter--rating">
            <span id="rating"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="knot-container">
    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 S11 Scenter M8 L7 XL6">
          <div class="decoration"></div>
          <div class="knot"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="loading-indicator">
    <div class="o-loading o-loading--large o-loading--light" role="progressbar" aria-valuetext="loading" tabindex="0"></div>
    <div class="loading-indicator__label">Loading…</div>
  </div>
</div>

<div class="ending-container"></div>

<div id="landscape" class="screen screen--landscape">
  <i class="material-icons">screen_rotation</i>
  <p>
    Please rotate your device to portrait orientation
  </p>
</div>
{% endmarkdown %}
{% endblock %}
