@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-buttons/main';
@import 'components/core/main';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('vendor/Material Icons'),
       local('vendor/MaterialIcons-Regular'),
       url(vendor/MaterialIcons-Regular.woff2) format('woff2'),
       url(vendor/MaterialIcons-Regular.woff) format('woff'),
       url(vendor/MaterialIcons-Regular.ttf) format('truetype');
}

html {
  background-color: #333;

  body {
    background-color: inherit;

    .game-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-ig-content-prod%2Fimages%2Fv1%2Foverview-art.png%3Fcachebust?source=ig&fit=scale-down&quality=high);
      background-size: cover;
      background-attachment: fixed;
      color: #fff;
      box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.8);

      .article-head.o-grid-container {
        order: 1;
        z-index: 1;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        a.logo {
          position: absolute;
          top: 0;

          img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }

        .article__share {
          position: absolute;
          top: 0;
          right: 0;

          ul {
            li:last-child {
              margin-right: 0;
            }

            @include oGridRespondTo(S) {
              li:nth-child(3) {
                margin-right: 0;
              }
            }
          }
        }
      }

      .article-body.o-typography-body-wrapper {
        order: 2;
        flex-grow: 1;
        z-index: 1;
        position: relative;

        .screen-container {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 100%;
          padding: inherit;

          .screen {
            position: relative;

            button {
              @include oButtons();
              @include oButtonsTheme(inverse);
              @include oButtonsSize(big);
              min-width: 44px;
            }

            p {
              color: inherit;
              font-family: MetricWeb, sans-serif;

              a {
                color: #1aecff;
                border-bottom: 1px dotted #1aecff;

                &:active, &:hover {
                  outline-width: 0;
                }

                &:focus {
                  color: #505050;
                  border-bottom-color: transparent;
                }
              }
            }

            &--intro {
              text-align: center;

              .subtitle {
                font-family: MetricWeb, sans-serif;
                line-height: 21px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
              }
            }

            &--caveats {
              display: none;
              opacity: 0;
              text-align: center;

              p {
                text-align: left;
              }
            }

            &--story {
              display: none;
              opacity: 0;
              height: 100%;

              .meters-container {
                margin-top: 18px;
                padding-left: 0;

                .meter {
                  position: relative;
                  display: inline-block;
                  margin-right: 10px;
                  margin-bottom: 20px;
                  border-radius: 14px;
                  padding: 6px 10px;
                  background-color: #00757F;
                  text-align: right;
                  font-weight: 600;
                  -webkit-font-feature-settings: 'tnum';
                  -moz-font-feature-settings: 'tnum';
                  font-feature-settings: 'tnum';

                  span {
                    -webkit-transition: text-shadow 0.1s linear;
                    -moz-transition: text-shadow 0.1s linear;
                    transition: text-shadow 0.1s linear;
                  }

                  &:before {
                    width: 23px;
                    padding: 10px 11px 10px 10px;
                    border-radius: 50%;
                    background-color: #0F8E99;
                    text-align: center;
                    position: absolute;
                    top: -6px;
                    left: 0;
                    /* Material icons */
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;  /* Preferred icon size */
                    display: inline-block;
                    line-height: 1;
                    text-transform: none;
                    letter-spacing: normal;
                    word-wrap: normal;
                    white-space: nowrap;
                    direction: ltr;
                    /* Support for all WebKit browsers. */
                    -webkit-font-smoothing: antialiased;
                    /* Support for Safari and Chrome. */
                    text-rendering: optimizeLegibility;
                    /* Support for Firefox. */
                    -moz-osx-font-smoothing: grayscale;
                    /* Support for IE. */
                    font-feature-settings: 'liga';
                  }

                  &--total {
                    width: 77px;

                    &:before {
                      content: "attach_money";
                    }
                  }

                  &--time {
                    width: 102px;

                    span {
                      text-transform: lowercase;
                    }

                    &:before {
                      content: 'access_time';
                    }
                  }

                  &--rating {
                    width: 73px;

                    &:before {
                      content: 'star_rate';
                    }
                  }
                }
              }

              .knot-container {
                position: absolute;
                right: 0px;
                left: 0px;
                padding: 1em 0 68px 0;
                background-color: rgba(0, 117, 127, 0.67);
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
                overflow: scroll;

                .knot {
                  border-top: solid 1px #fff;
                  padding-top: 1em;

                  .choices-container {
                    padding-left: 0;

                    // p {
                    //   border-left: 2px solid #dc6345;
                    //   padding-left: 0.3em;
                    //
                    //   a {
                    //     color: inherit;
                    //     border-bottom: none;
                    //
                    //     &:focus {
                    //       color: #505050;
                    //       border-bottom-color: transparent;
                    //     }
                    //
                    //     &:active, &:hover {
                    //       outline-width: 0;
                    //     }
                    //   }
                    // }

                    button {
                      display: block;
                      margin: 0 auto;

                      &.link-like {
                        width: 100%;
                        margin-bottom: 0.8em;
                        border: none;
                        border-left: 2px solid #dc6345;
                        text-align: left;

                        &:focus {
                          color: #505050;
                          outline-width: 0;
                        }

                        &:active, &:hover {
                          color: inherit;
                          background-color: transparent;
                        }
                      }
                    }
                  }
                }
              }

              .time-passing {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100vw;
                height: 100vh;
                z-index: 1;
                background-color: rgba(0, 117, 127, 0.67);
                -webkit-backdrop-filter: blur(0px);
                backdrop-filter: blur(0px);
                opacity: 0;
                -webkit-transition: -webkit-backdrop-filter 0.2s linear;
                transition: backdrop-filter 0.2s linear;
              }
            }

            &--landscape {
              display: none;
              text-align: center;
            }
          }
        }
      }

      footer.o-typography-footer {
        order: 3;
        z-index: 1;
        margin-bottom: 18px;

        a {
          color: #1aecff;
          border-bottom: 1px dotted #1aecff;

          &:active, &:hover {
            outline-width: 0;
          }

          &:focus {
            color: #505050;
            border-bottom-color: transparent;
          }
        }
      }
    }

    .tint {
      position: absolute;
      width: 100%;
      height: inherit;
      overflow: hidden;
      background-image: linear-gradient(180deg, rgba(153, 15, 61, 0.9) 0%, rgba(15, 84, 153, 0.9) 100%);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      opacity: 1;
      -webkit-transition: -webkit-backdrop-filter 0.2s linear;
      transition: backdrop-filter 0.2s linear;
    }
  }
}

@media only screen and (min-aspect-ratio: 1/1) and (max-width: 740px) {
  .screen {
    &--intro, &--caveats, &--story {
      display: none !important;
    }

    &--landscape {
      display: block !important;
    }
  }

  .article__share {
    display: inline !important;
    opacity: 1 !important;
  }
}
