$o-loading-is-silent: false;

@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-buttons/main';
@import 'o-loading/main';
@import 'components/core/main';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(vendor/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('vendor/Material Icons'),
       local('vendor/MaterialIcons-Regular'),
       url(vendor/MaterialIcons-Regular.woff2) format('woff2'),
       url(vendor/MaterialIcons-Regular.woff) format('woff'),
       url(vendor/MaterialIcons-Regular.ttf) format('truetype');
}

.o-typography-wrapper p {
  font-size: 18px;
  line-height: 1.4;
  margin: .3em 0 .8em;
}

html, body {
  background-color: rgb(38, 43, 51);
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.8);

  .article-head.o-grid-container {
    order: 1;
    z-index: 1;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    a.logo {
      position: absolute;
      top: 0;

      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .article__share {
      position: absolute;
      top: 0;
      right: 0;

      ul {
        li:last-child {
          margin-right: 0;
        }

        @include oGridRespondTo(S) {
          li:nth-child(3) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .article-body.o-typography-wrapper {
    order: 2;
    flex-grow: 1;
    z-index: 1;
    position: relative;

    .screen-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      padding: inherit;

      .screen {
        position: relative;

        button {
          @include oButtons();
          @include oButtonsTheme(inverse);
          @include oButtonsSize(big);
          min-width: 44px;
        }

        p {
          color: inherit;
          font-family: MetricWeb, sans-serif;

          a {
            color: #1aecff;
            border-bottom: 1px dotted #1aecff;

            &:active, &:hover {
              outline-width: 0;
            }

            &:focus {
              color: #505050;
              border-bottom-color: transparent;
            }
          }
        }

        &--intro {
          text-align: center;

          h1 {
            color: inherit;
            margin: 0 0 8px;
          }

          .subtitle {
            font-family: MetricWeb, sans-serif;
            line-height: 21px;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: .3em 0 .8em;
          }
        }

        &--caveats {
          display: none;
          opacity: 0;
          text-align: center;

          p {
            text-align: center;
          }
        }

        &--story {
          display: none;
          flex-direction: column;
          justify-content: flex-end;
          opacity: 0;
          height: 100%;

          .meters-container {
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 24px;

            .meter {
              position: relative;
              display: inline-block;
              margin-right: 10px;
              margin-bottom: 20px;
              border-radius: 14px;
              padding: 6px 15px 6px 59px;
              background-color: rgba(38, 43, 51, 0.8);
              -webkit-backdrop-filter: blur(12px);
              text-align: right;
              font-weight: 600;
              -webkit-font-feature-settings: 'tnum';
              -moz-font-feature-settings: 'tnum';
              font-feature-settings: 'tnum';

              span {
                -webkit-transition: text-shadow 100ms linear;
                -moz-transition: text-shadow 100ms linear;
                transition: text-shadow 100ms linear;
              }

              &:before {
                width: 23px;
                padding: 10px 11px 10px 10px;
                border-radius: 50%;
                background-color: #000000;
                text-align: center;
                position: absolute;
                top: -6px;
                left: 0;
                /* Material icons */
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px; /* Preferred icon size */
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;
                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;
                /* Support for IE. */
                font-feature-settings: 'liga';
              }

              &--total {
                &:before {
                  content: 'attach_money';
                }
              }

              &--time {
                span {
                  text-transform: lowercase;
                }

                &:before {
                  content: 'access_time';
                }
              }

              &--rating {
                &:before {
                  content: 'star_rate';
                }
              }
            }
          }

          .knot-container {
            margin: 0 10px 85px;
            background-color: rgba(38, 43, 51, 0.8);
            -webkit-backdrop-filter: blur(12px);
            overflow: auto;

            .decoration {
              width: 100%;
              height: 20px;
              margin: 10px 0 0;
              background-color: red;
              background-image: url();
              background: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493380088-0jv5b.png) no-repeat center center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }

            .knot {
              padding: 0 0 10px;

              .choices-container {
                float: none;
                padding-left: 0;

                button {
                  display: block;
                  margin: 0 auto 10px;

                  &.link-like {
                    width: 100%;
                    min-height: 44px;
                    border: none;
                    text-align: left;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 18px;
                    color: #ff1a66;

                    span {
                      display: inline-block;
                      margin-left: 34px;
                    }

                    &:active {
                      background-color: #ff1a66;
                      color: #ffffff;
                    }

                    &:before {
                      content: '';
                      position: absolute;
                      width: 24px;
                      height: 24px;
                      margin-top: -3px;
                      background-color: #ffffff;
                      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aarrow-right?source=ig&width=24&height=24&tint=%23ff1a66&quality=high);
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }

          .time-passing-container,
          .moment-container {
            display: none;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            background-color: rgba(38, 43, 51, 0.8);
            color: #ffffff;
            -webkit-backdrop-filter: blur(12px);
            -webkit-transition: -webkit-backdrop-filter 300ms linear;
            opacity: 0;

            .time-passing-upper,
            .moment-upper {
              display: flex;
              flex-direction: column;
              -webkit-justify-content: center;
              justify-content: center;
              align-items: center;
              height: 62vh;

              p {
                font-family: MetricWeb, sans-serif;
                font-weight: 600;
              }

              .time-passing-image,
              .moment-image {
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 200px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }

              .time-passing-image {
                background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493569778-ia4se.png);
              }

              .tp-earnings-container {
                text-align: center;

                div {
                  font-size: 80px;
                  font-weight: 600;
                  -webkit-transition: text-shadow 100ms linear;
                  -moz-transition: text-shadow 100ms linear;
                  transition: text-shadow 100ms linear;

                  &:before {
                    content: '$';
                  }
                }

                p {
                  font-size: 14px;
                  font-weight: 600;
                  letter-spacing: 1px;
                  line-height: 16px;
                }
              }
            }

            .time-passing-dashboard,
            .moment-dashboard {
              width: 100%;
              height: 38vh;
              background-color: rgb(38, 43, 51);

              .stats-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding: 10px 0 0;

                &__time {
                  width: 30%;
                  margin-right: 10px;
                }

                &__rides {
                  flex-grow: 1;
                  max-width: 30%;
                  margin-right: 10px;
                }

                &__ride-goal {
                  flex-grow: 1;
                  max-width: 30%;
                }

                i.material-icons {
                  font-size: 20px;
                  display: block;
                  color: #1aecff;
                }

                span {
                  &.large {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 45px;
                    -webkit-font-feature-settings: 'tnum';
                    -moz-font-feature-settings: 'tnum';
                    font-feature-settings: 'tnum';
                    text-transform: lowercase;
                    -webkit-transition: text-shadow 100ms linear;
                    -moz-transition: text-shadow 100ms linear;
                    transition: text-shadow 100ms linear;
                  }

                  &.small {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    line-height: 16px;
                  }
                }

                p {
                  font-size: 14px;
                  font-weight: 600;
                  letter-spacing: 1px;
                  line-height: 16px;
                }
              }

              button {
                display: block;
                margin: 10px auto;
              }
            }
          }
        }

        &--landscape {
          display: none;
          align-self: center;
          text-align: center;
        }
      }
    }
  }

  footer.o-typography-footer {
    order: 3;
    z-index: 1;
    margin: 18px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: inherit;

    a {
      color: #1aecff;
      border-bottom: 1px dotted #1aecff;

      &:active, &:hover {
        outline-width: 0;
      }

      &:focus {
        color: #505050;
        border-bottom-color: transparent;
      }
    }
  }

  i.material-icons {
    /* Material icons */
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 0.35s ease-out;
  }

  .loading-indicator {
    display: none;
  }

  &--loading {
    #story {
      justify-content: center;
      align-items: center;

      > .loading-indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(black, 0.5);
        padding: 30px;
        height: 100px;
        width: 150px;
        border-radius: 20px;

        .loading-indicator__label {
          margin-top: 12px;
        }
      }

      > .knot-container {
        display: none;
      }
    }
  }
}

.tint {
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  background-color: rgba(38, 43, 51, 0.2);
  opacity: 1;
  -webkit-backdrop-filter: blur(12px);
  -webkit-transition: -webkit-backdrop-filter 300ms linear;
}

.moments-preload {
  display: inline;
  width: 0px;
  height: 0px;
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493569815-ed2um.png);
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493569802-n5e5e.png);
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493569784-1opf4.png);
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8493569778-ia4se.png);
}

// "Please rotate device" screen
@media only screen and (min-aspect-ratio: 1/1) and (max-width: 740px) {
  .tint {
    opacity: 1 !important;
    display: block !important;
  }

  .screen {
    &--intro, &--caveats, &--story {
      display: none !important;
    }

    &--landscape {
      display: block !important;
    }
  }

  .article__share {
    display: inline !important;
    opacity: 1 !important;
  }
}

@include oGridRespondTo(M) {
  .knot-container {
    margin: 0 20px 64px !important;

    .decoration {
      margin: 20px 0 0 !important;
    }

    .knot {
      padding: 0 0 20px !important;
    }
  }

  .time-passing-image,
  .moment-image {
    max-width: 300px !important;
    max-height: 300px !important;
  }
}

@include oGridRespondTo(L) {
}

.no-backdropfilter {
  .tint {
    background-color: rgba(38, 43, 51, 0.9);
  }

  .knot-container {
    background-color: rgba(38, 43, 51, 0.9) !important;
  }
}
