$inverseColor: #ff1a66;

#ending {
  background: #262b33;
  opacity: 1;

  .ending__container {
    display: none;
  }

  .ending__stats {}
  .ending__income {}
  .ending__outcomes {}
  .ending__onward {}
  .ending__social {}

  .ending__continue-button {
    background: #00d3e6;
    color: #272a33;
    border: 0;
    width: 40px;
    height: 40px;
  }

  .o-typography-wrapper & ul li {
    padding-left: 0;

    &:before {
      display: none;
    }
  }

  &.screen--ending--inverse {
    .ending__header-primary {
      color: $inverseColor;
    }
    .ending__continue-button {
      background: $inverseColor;
    }

  }
}
